<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>RUNTEQ BOARD APP</h1>
  </div>
  <p>このページは仮のトップページです。</p>

<%# ここに追加する %>
  <%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
</div>
